.cart-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background: #333333;
  color: #bcbbb4;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  overflow: scroll;
}

.cart-container .inner-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-container .small {
  font-size: 12px;
}

.cart-container .medium {
  font-size: 15px;
}

.cart-container .large {
  font-size: 25px;
  font-weight: 100;
  color: #fffef2;
}

.cart-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #bcbbb4;
}

.cart-container .title h3 {
  font-size: 15px;
}

.cart-container .title .cross::before {
  content: '\00d7';
  color: #bcbbb4;
  font-weight: 100;
  font-family: Arial, sans-serif;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-container .title .qty,
.cart-container .title .size {
  display: none;
}

.cart-container .cart-content .cart-item {
  border-bottom: 0.5px solid #bcbbb4;
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
      grid-template-areas: 'title dropdown' 'size price';
}

.cart-container .cart-content .cart-item .cart-item__title {
  font-size: 16px;
  color: #fffef2;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.cart-container .cart-content .cart-item .cart_item__size-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: size;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.cart-container .cart-content .cart-item .cart_item__size-wrapper .mobile {
  display: block;
}

.cart-container .cart-content .cart-item .cart-item__dropdown {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dropdown;
}

.cart-container .cart-content .cart-item .cart-item__price {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: price;
  text-align: end;
}

.cart-container .cart-content .cart-item .quantities-container .desktop {
  display: none;
}

.cart-container .promo {
  margin: 0;
  padding: 2rem 0;
  border-bottom: 0.5px solid #bcbbb4;
}

.cart-container .total-container .shipping {
  border-bottom: 0.5px solid #bcbbb4;
  padding-bottom: 2rem;
}

.cart-container .total-container .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem;
}

.cart-container .total-container .checkout {
  height: 64px;
  width: 100%;
  background-color: #fffef2;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-container .total-container .partners {
  margin: 0;
  padding-top: 1rem;
}

.cart-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cart-closed {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (min-width: 640px) {
  .cart-container {
    position: relative;
  }
  .cart-container .inner-container {
    display: block;
    height: auto;
  }
  .cart-container .title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 25% 25% 10%;
        grid-template-columns: 40% 25% 25% 10%;
  }
  .cart-container .title .qty,
  .cart-container .title .size {
    display: block;
  }
  .cart-container .items-container .mobile {
    display: none;
  }
  .cart-container .items-container .cart-content .cart-item {
    -ms-grid-columns: 40% 25% 25% 10%;
        grid-template-columns: 40% 25% 25% 10%;
        grid-template-areas: 'title size dropdown price';
    padding: 5px 0;
  }
  .cart-container .items-container .cart-content .cart-item .cart_item__size-wrapper .cart-item__size {
    font-size: 15px;
  }
  .cart-container .items-container .cart-content .cart-item .cart_item__size-wrapper .mobile {
    display: none;
  }
  .cart-container .items-container .cart-content .cart-item .quantities-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .cart-container .items-container .cart-content .cart-item .quantities-container .desktop {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 14px;
  }
  .cart-container .total-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
        grid-template-areas: 'shipping promo' 'shipping compliment' 'shipping total' 'shipping checkout' 'shipping partners';
  }
  .cart-container .total-container .promo {
    padding: 25px 0;
  }
  .cart-container .total-container .compliment {
    font-size: 15px;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: compliment;
  }
  .cart-container .total-container .shipping {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    grid-area: shipping;
    border: none;
    font-size: 15px;
    margin-top: 185px;
  }
  .cart-container .total-container .promo {
    font-size: 15px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: promo;
  }
  .cart-container .total-container .total {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: total;
  }
  .cart-container .total-container .checkout {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: checkout;
  }
  .cart-container .total-container .partners {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: partners;
  }
  .cart-closed {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    max-height: 0;
    -webkit-transition: max-height 0.3 ease-out;
    transition: max-height 0.3 ease-out;
  }
  .cart-open {
    max-height: 495px;
    -webkit-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
  }
}
/*# sourceMappingURL=Cart.css.map */