@import './Root/Variables.scss';

.cart-container {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100vh;
	background: $clr_font;
	color: $clr_lightgray;
	transition: all 0.5s ease-out;

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 5px;

		.cross::before {
			content: '\00d7';
			color: $clr_lightgray;
			font-weight: 100;
			font-family: Arial, sans-serif;
			font-size: 26px;
		}
	}

	.cart-content {
		.cart-item {
			border-bottom: 0.5px solid $clr_lightgray;
			border-top: 0.5px solid $clr_lightgray;
			padding: 1rem 0;
			display: grid;
			justify-content: space-between;
			align-items: center;
			grid-template-columns: auto auto;
			grid-template-areas:
				'title dropdown'
				'size price';
			.cart-item__title {
				font-size: 16px;
				color: $clr_background;
				grid-area: title;
			}

			.cart_item__size-wrapper {
				grid-area: size;
				display: flex;
				gap: 1.5rem;
			}

			.cart-item__dropdown {
				grid-area: dropdown;
			}

			.cart-item__price {
				grid-area: price;
				text-align: end;
			}

			.cart-item__remove {
			}
		}
	}
}

.cart-open {
	transform: translateX(0);
}

.cart-closed {
	transform: translateY(-100%);
}
