@import '../Root/Variables.scss';

.active {
	width: 100%;
	height: 2.5px;
	background-color: #000;
	transform: translateY(32px);
}

.info-open {
	display: flex;
	justify-content: center;
	align-items: center;

	h3 {
		padding-right: 7px;
	}

	div {
		transform: translateY(2.5px);
	}
}

.info-closed {
	display: none;
}

.selection-information {
	background: $clr_background;
}
