/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
	*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
		all: unset;
		display: revert;
	}
	*/
/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}

#root {
  width: 100%;
  position: relative;
  z-index: -1;
}

body {
  background-color: #fffef2;
  color: #333333;
  font-family: "neue-haas-unica", sans-serif;
  position: relative;
  z-index: -1;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

h1 {
  font-size: 24px;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 14px;
  font-weight: 600;
}

h3 {
  font-size: 14px;
  font-weight: 300;
}

h4 {
  font-weight: 100;
  font-size: 14px;
}

.section-center {
  padding: 1.25rem;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .section-center {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-center {
    padding: 2.5rem;
  }
}

#navbar {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 2;
}

#product-detail {
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
  position: relative;
  z-index: -1;
}

.foo {
  font-size: 50px;
}

input {
  border-bottom: 1px solid #bcbbb4;
  font-size: 18px;
}

.navbar-wrapper {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  background: #fffef2;
}

.navbar-wrapper .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-wrapper .links-wrapper .cross::before {
  content: '\00d7';
  color: #333;
  font-weight: 100;
  font-family: Arial, sans-serif;
  font-size: 26px;
}

@media screen and (min-width: 640px) {
  .navbar-wrapper {
    border-bottom: 1px solid #bcbbb4;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-wrapper {
    border-bottom: none;
  }
}

.navbar-wrapper .burger {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  width: 16px;
  height: 10px;
}

.full-burger-menu {
  overflow: hidden;
  -webkit-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in;
  background: #fffef2;
}

.full-burger-menu ul {
  border-bottom: 1px solid #bcbbb4;
}

.full-burger-menu ul li {
  padding: 1rem 1rem;
  border-top: 1px solid #bcbbb4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-burger-menu ul li .arrow {
  border: solid #bcbbb4;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.full-burger-menu ul li h1 {
  font-size: 18px;
}

.closed {
  max-height: 0;
  -webkit-transition: max-height 0.3 ease-out;
  transition: max-height 0.3 ease-out;
  display: none;
}

.open {
  max-height: 1000px;
  -webkit-transition: max-height 0.3 ease-out;
  transition: max-height 0.3 ease-out;
}
/*# sourceMappingURL=NavbarMobile.css.map */