@import './Reset.scss';
@import './Variables.scss';

#root {
	width: 100%;
}

body {
	background-color: $clr_background;
	color: $clr_font;
	width: 100%;
}

h1 {
	font-size: $fontsize_title__mobile;
	@media screen and (min-width: $tablet) {
		font-size: $fontsize_title__tablet;
	}

	@media screen and (min-width: $desktop) {
		font-size: $fontsize_title__desktop;
	}
}

h2 {
	font-size: $fontsize_main;
	font-weight: $fw_medium;
}

h3 {
	font-size: $fontsize_main;
	font-weight: $fw_regular;
}

.section-center {
	padding: 1.25rem;
	@media screen and (min-width: $tablet) {
		padding: 2rem;
	}

	@media screen and (min-width: $desktop) {
		padding: 2.5rem;
	}
}
