@import './Reset.scss';
@import './Variables.scss';

#root {
	width: 100%;
	position: relative;
	z-index: -1;
}

body {
	background-color: $clr_background;
	color: $clr_font;
	width: 100%;
	font-family: $primaryfont;
	position: relative;
	z-index: -1;
}

a {
	text-decoration: none;
	color: $clr_font;
}

h1 {
	font-size: $fontsize_title__mobile;
	@media screen and (min-width: $tablet) {
		font-size: $fontsize_title__tablet;
	}

	@media screen and (min-width: $desktop) {
		font-size: $fontsize_title__desktop;
	}
}

h2 {
	font-size: $fontsize_main;
	font-weight: $fw_medium;
}

h3 {
	font-size: $fontsize_main;
	font-weight: $fw_regular;
}

.section-center {
	padding: 1.25rem;
	width: 100%;
	@media screen and (min-width: $tablet) {
		padding: 2rem;
	}

	@media screen and (min-width: $desktop) {
		padding: 2.5rem;
	}
}

#navbar {
	position: absolute;
	height: auto;
	width: 100%;
	z-index: 2;
}

#product-detail {
	transform: translateY(90px);
	position: relative;
	z-index: -1;
}

.foo {
	font-size: 50px;
}

input {
	border-bottom: 1px solid $clr_lightgray;
	font-size: 18px;
}
